@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&family=Poppins:wght@600&display=swap');

$fontcuerpo: 'PT Sans', sans-serif;
$fonttitulo: 'Poppins', sans-serif;
$colordeg1: #7f5539;
$colordeg2: #b08968;
$colordeg3: #e6ccb2;
$colordeg4: #ede0d4;

$estiloparrafo: (
    color: white,
    fuente: $fontcuerpo,
    tamaño: 18px,
    sombra: 2px 2px 2px black,
);

@mixin degradez {
    background-image: linear-gradient(to right, $colordeg1, $colordeg2);
}

@mixin degradez2 {
    background-image: linear-gradient(to left, $colordeg4, $colordeg3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    @include degradez;
}

.nav-item {
    a {
        font-size: 1.3rem;
        font-family: $fonttitulo;
    }

    .dropdown-menu {
        a {
            font-size: 1rem;

            &:focus {
                background-color: $colordeg2;
            }
        }
        .active {
            background-color: $colordeg1;
        }
    }
}


main.salaPrincipal {
    margin-top: 5rem;
    padding: 1.5rem;
    background-color: rgb(41, 41, 41);

    h2 {
        font-family: $fonttitulo;
        text-shadow: map-get($estiloparrafo, sombra);
    }

    p {
        font-family: map-get($estiloparrafo, fuente);
        font-size: map-get($estiloparrafo, tamaño);
        text-shadow: map-get($estiloparrafo, sombra);
    }
}

.imgCarrusel {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: center;
}

.acordionSalaPrincipal {
    padding: 1rem;

    .card-header {
        @include degradez;
        color: white;
        
        a {
            font-family: $fonttitulo;
            color: map-get($estiloparrafo, color);
            font-size: 1.4rem;
            text-shadow: map-get($estiloparrafo, sombra);
        }
    }

    .card-body {
        @include degradez2;

        p {
            font-family: map-get($estiloparrafo, fuente);
            text-shadow: none;
        }
    }
}

footer {
    @extend nav;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .footerEnlaces {
        a {
            font-size: 22px;
            color: white;
            font-family: $fonttitulo;
            text-decoration: none;
            text-shadow: 1px 1px 2px black;

            &:hover {
                color: black;
                transition: 0.5s;
                font-size: 25px;
                text-shadow: none;
            }
        }
    }

    i {
        font-size: 30px;
        color: white;
        text-shadow: 1px 1px 3px black;

        &:hover {
            transition: 0.5s;
            font-size: 36px;
            color: black;
            text-shadow: none;
        } 
    }

    p {
        margin-top: 20px;
        margin-bottom: 0;
        font-family: map-get($estiloparrafo, fuente);
        text-shadow: map-get($estiloparrafo, sombra);
        color: map-get($estiloparrafo, color);
        text-align: center;
        animation-duration: 3s;
        animation-name: copyright;
        animation-iteration-count: infinite;
    }
    
    @keyframes copyright {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

@media (min-width: 768px) {
    .imgCarrusel {
        height: 400px;
    }
}

@media (min-width: 1024px) {
    .imgCarrusel {
        height: 500px;
    }
}
